@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pragmatica-Extended";
  font-display: swap;
  src: url("../fonts/Pragmatica-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@layer base {
  html {
    background-color: black;
    font-family: "Pragmatica-Extended", sans-serif;
  }
}
